@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 15;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  padding: 40px clamp(12px, 4vw, 40px);
  pointer-events: none;
  background-color: $color-white;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    right 0.3s ease;

  &.open {
    right: 0;
    pointer-events: auto;
    opacity: 1;
  }

  &__header {
    @include flex-center-between;
  }

  &__title {
    margin: 0 0 clamp(40px, 7.83vw, 94px);
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 88%;
    letter-spacing: -1.2px;
  }

  &__close-button {
    position: fixed;
    top: 32px;
    right: clamp(12px, 4vw, 40px);
    padding: 12px;
    background-color: transparent;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 50%;

    @include grid-center;
  }

  &__top {
    @include flex-center-between;

    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
  }

  &__info {
    font-size: $spacing-14;
    line-height: 112%;
  }

  &__clear-button {
    @include reset-button;

    font-family: $font-family-base;
    font-size: $font-14;
    font-weight: 300;
    line-height: 112%;
    color: $color-black;
    opacity: 0.4;

    @include hover-opacity;
  }
}

.cart__items {
  min-height: 0;
  margin-top: $spacing-12;
  overflow-y: auto;
  scrollbar-color: $color-light-grey transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-light-grey;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
}

.cart__item-image {
  grid-row: span 2;
  width: clamp(56px, 8vw, 96px);
  height: clamp(56px, 8vw, 96px);
  margin-right: $spacing-4;

  @media screen and (width >= 500px) {
    grid-row: 1;
  }
}

.cart__item-details {
  @include flex-column;

  gap: clamp($spacing-4, 1.33vw, $spacing-16);
  align-items: flex-start;
  margin-right: clamp(8px, 5.17vw, 62px);
  font-size: $font-16;
}

.cart__item-quantity {
  @include flex-center;

  grid-row: 2;
  grid-column: 2;

  @media screen and (width >= 500px) {
    grid-row: 1;
    grid-column: 3;
  }
}

.cart__item {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: $spacing-8;
  align-items: center;
  padding: $spacing-12 0;

  &:not(:last-child) {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @media screen and (width >= 500px) {
    grid-template-columns: repeat(4, auto);
    row-gap: 0;
  }

  &.removed {
    .cart__item-image,
    .cart__item-details,
    .cart__item-quantity {
      opacity: 0.2;
    }
  }
}

.cart__item-title {
  font-weight: 300;
  line-height: 112%;
  letter-spacing: 0.32px;
}

.cart__item-price {
  font-weight: 600;
}

.cart__quantity-value {
  margin: 0 17px 0 21px;
}

.cart__quantity-button {
  @include hover-opacity(0.6);

  width: 40px;
  height: 24px;
  padding: 4px 12px;
  background-color: $color-light-grey;
  border: none;
  border-radius: 4px;
}

.cart__restore-button,
.cart__remove-button {
  @include icon-button(24px, 0.8);

  grid-row: span 2;
  grid-column: 3;
  margin-left: clamp(12px, 3.08vw, 37px);

  @media screen and (width >= 500px) {
    grid-row: 1;
    grid-column: 4;
  }
}

.cart__remove-button {
  opacity: 0.2;
}

.cart__bottom {
  @include flex-center-between;

  margin-top: $spacing-12;
}

.cart__total {
  @include flex-column;

  align-items: flex-start;
  font-size: $font-16;

  .cart__total-value {
    font-size: clamp($font-24, 2.5vw, $font-30);
  }
}

.cart__submit-button {
  @include grid-center;
  @include button-text(500);

  padding: 21px 58px;
  background-color: $color-mint;
  border: none;
  border-radius: 4px;
}

.cart__empty-message {
  font-size: $font-14;
  text-transform: uppercase;
  opacity: 0.4;
}
