@use "./variables.scss" as *;

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin reset-button($padding: 0) {
  background-color: transparent;
  border: none;
  padding: $padding;
}

@mixin button-text($font-weight) {
  text-transform: uppercase;
  letter-spacing: 0.72px;
  font-weight: $font-weight;
  color: $color-dark;
  font-size: $spacing-12;
}

@mixin hover-opacity($opacity: 0.8) {
  transition: opacity 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      opacity: $opacity;
    }
  }
}
