@use './variables.scss' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin reset-button($padding: 0) {
  padding: $padding;
  background-color: transparent;
  border: none;
}

@mixin button-text($font-weight) {
  font-size: $spacing-12;
  font-weight: $font-weight;
  color: $color-dark;
  text-transform: uppercase;
  letter-spacing: 0.72px;
}

@mixin hover-opacity($opacity: 0.8) {
  transition: opacity 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      opacity: $opacity;
    }
  }
}

@mixin icon-button($size: 24px, $opacity) {
  @include reset-button;
  @include hover-opacity($opacity);

  width: $size;
  height: $size;
}
