$color-black: #000000;
$color-dark: #1f2020;
$color-white: #ffffff;
$color-mint: #7bb899;
$color-light-grey: #f2f2f2;

$font-10: 0.625rem;
$font-12: 0.75rem;
$font-14: 0.875rem;
$font-16: 1rem;
$font-24: 1.5rem;
$font-30: 1.875rem;
$font-36: 2.25rem;
$font-72: 4.5rem;

$font-family-base: "Inter", sans-serif;

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-14: 14px;
$spacing-15: 15px;
$spacing-16: 16px;
$spacing-18: 18px;
$spacing-20: 20px;
$spacing-22: 22px;
$spacing-24: 24px;

$spacing-45: 45px;
