@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.product-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: clamp($spacing-15, 1.5vw, $spacing-18);
  margin-bottom: clamp(64px, 11.75vw, 141px);
}

.product-card {
  @include flex-column;

  position: relative;
  width: clamp(156px, 25vw, 278px);
  font-size: $font-16;
  color: $color-dark;
  cursor: pointer;
  border-bottom: 1px solid rgb(0 0 0 / 10%);

  @media (hover: hover) and (width >= 1200px) {
    &:hover .product-card__button {
      display: flex;
    }
  }
}

.product-card__images {
  @include grid-center;

  width: clamp(156px, 25vw, 278px);
  height: clamp(156px, 25vw, 278px);
  margin-bottom: $spacing-16;
}

.product-card__image {
  display: block;
  width: clamp(112.23px, 16.67vw, 200px);
  height: clamp(112.23px, 16.67vw, 200px);
}

.product-card__title {
  margin-bottom: clamp($spacing-20, 2vw, $spacing-24);
  font-weight: 300;
  line-height: 112%;
  letter-spacing: 0.32px;
}

.product-card__footer {
  @include flex-center-between;

  margin-bottom: $spacing-22;
}

.product-card__price {
  font-weight: 600;
  line-height: 100%;
}

.product-card__button {
  @include flex-center;

  justify-content: center;
  width: 40px;
  padding: $spacing-4 $spacing-12;
  background-color: $color-light-grey;
  border: none;
  border-radius: 8px;

  @media (hover: hover) and (width >= 1200px) {
    position: absolute;
    right: 0;
    bottom: $spacing-14;
    display: none;
    width: 80px;
    padding: $spacing-6 0;
    background-color: $color-mint;
  }
}

.product-card__button-icon {
  width: clamp(16px, 1.67vw, 20px);
  height: clamp(16px, 1.67vw, 20px);
}
