@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.catalog__sort {
  position: relative;
}

.catalog__sort-list {
  @include flex-column;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
  visibility: hidden;
  width: 280px;
  pointer-events: none;
  background-color: $color-white;
  opacity: 0;
  transition: opacity 0.2s ease-out;

  &.open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
}

.catalog__sort-option {
  @include button-text(500);
  @include reset-button(17px 0 24px 16px);

  display: flex;
  white-space: nowrap;

  &.selected {
    background-color: $color-mint;
  }
}

.catalog__sort-toggle {
  @include flex-center-between;
  @include reset-button;

  gap: $spacing-4;
}

.catalog__sort-label {
  @include button-text(500);
}

.catalog__sort-icon {
  width: 10px;
  height: 10px;
}
