@use "../../styles/variables.scss" as *;

.modal-overlay {
  opacity: 0;
  visibility: hidden;
  background-color: $color-black;
  position: absolute;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.visible {
    opacity: 0.7;
    visibility: visible;
  }
}

