@use "./styles/mixins.scss" as *;
@use "./styles/variables.scss" as *;

@use "./components/header/header.scss";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  color: $color-dark;
  scroll-behavior: smooth;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.removed {
  opacity: 0.2;
}
