@use "./styles/mixins.scss" as *;
@use "./styles/variables.scss" as *;

@use "./components/header/header.scss";
@use "./components/cart/cart.scss";
@use "./components/product-card/product-card.scss";
@use "./components/filters/filters.scss";
@use "./components/sorting/sorting.scss";
@use "./components/modal/modal.scss";

@use "./components/slider/slider.scss";
@use "./components/breadcrumbs/breadcrumbs.scss";
@use "./components/catalog-section/catalog-section.scss";
@use "./components/category-hero/category-hero.scss";

body,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  color: $color-dark;
  scroll-behavior: smooth;
  background-color: $color-white;
  overflow-x: hidden;
}

body {
  &.no-scroll {
    overflow: hidden;
  }

  @include flex-column;
  align-items: center;
}

main {
  max-width: $max-container-width;
  width: 100%;
  flex: 1;
  min-height: 100vh;
}

a,
button {
  cursor: pointer;
}

button img,
button svg {
  pointer-events: none;
}

a {
  text-decoration: none;
}

footer {
  background-color: $color-black;
  width: 100%;
  height: clamp(202px, 25vw, 310px);
}
