@use "./styles/mixins.scss" as *;
@use "./styles/variables.scss" as *;

@use "./components/header/header.scss";
@use "./components/cart/cart.scss";
@use "./components/product-card/product-card.scss";
@use "./components/filters/filters.scss";
@use "./components/sorting/sorting.scss";
@use "./components/modal/modal.scss";

@use "./components/slider/slider.scss";

body,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  color: $color-dark;
  scroll-behavior: smooth;
  background-color: $color-white;
  overflow-x: hidden;
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}

a,
button {
  cursor: pointer;
}

button img,
button svg {
  pointer-events: none;
}

a {
  text-decoration: none;
}

footer {
  background-color: $color-black;
  width: 100%;
  height: clamp(202px, 25vw, 310px);
}

// грид сетка для секшона

.catalog {
  display: grid;
  margin: 0 auto;
  max-width: 1792px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15px auto;

  padding: 0 clamp(24px, 5.33vw, 64px);
  margin-top: clamp(48px, 6vw, 72px);

  @media screen and (min-width: 768px) {
    grid-template-columns: auto minmax(15px, clamp(15px, 11.5vw, 138px)) 1fr 1fr;
    row-gap: 44px;
  }
}

.catalog__filters-panel {
  grid-column: 1;
  @media screen and (min-width: 768px) {
    grid-row: span 2;
  }
}

.product-list {
  grid-row: 2;
  grid-column: span 2;

  @media screen and (min-width: 768px) {
    grid-row: 2;
    grid-column: span 3 / 6;
  }
}

.catalog__count {
  @include button-text(500);
  display: none;

  @media screen and (min-width: 768px) {
    grid-column: 3;
    display: block;
  }
}
.catalog__sort {
  justify-self: flex-end;
  align-self: flex-end;
  @media screen and (min-width: 768px) {
    grid-column: 4;
  }
}

// hero

.category-hero {
  @media screen and (min-width: 768px) {
    position: relative;
    height: 560px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
}

.category-hero__text {
  color: $color-dark;
  @media screen and (min-width: 768px) {
    position: absolute;
    z-index: 5;
    inset: 0;
    margin-top: 214px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: $color-white;
  }
}

.category-hero__title {
  font-size: clamp(36px, 6vw, 72px);
  line-height: 88%;
  letter-spacing: -1.44px;

  margin: 0;
  @media screen and (min-width: 768px) {
  }
}

.category-hero__description {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin: 0;
    text-align: center;
    font-size: $font-16;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.32px;
  }
}
